*{
  margin:0;
  padding: 0;
}
body{
  font-family:Arial, Helvetica, sans-serif
}

header {
  background-color: #f5f7f8;;
  padding: 20px;
  text-align: center;
}

header img {
  width: 170px; /* Adjust the width as needed */
  height: auto;
}


nav {
  padding: 20px;
  background-color: #495e57;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #f4ce14;
  font-size: 1.2rem;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7f8;
}

.banner-section {
  position: relative;
  height: 370px;
  background-image: url('./assets/banner_img.jpg'); /* Replace 'hero-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  
  text-align: center;
  display: flex;
  color: #f5f7f8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

.banner-section p {
  font-size: 1.3rem;
  margin-bottom: 10px;
  padding: 20px; /* Added padding */
  background-color: #45474b;
}
.banner-section button{
  padding: 10px;
  background-color:#45474b ;
  color:#f5f7f8;
  border: 2px solid #f5f7f8 ;
  border-radius: 3px;

}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 25px;
  padding: 20px;
  background-color: #f5f7f8;

}

article {
  flex: 1;
  min-width: 300px;
  background-color: #495e57;
  color: #f5f7f8;
  padding: 35px;
  border-radius: 5px;
  text-align: center;
  
}
article h2{
  text-align: center;
  padding-bottom: 15px;
}

article img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

article p {
  margin-bottom: 15px;
  text-align: justify;
}

article button {
  display: block;
  padding: 15px;
  background-color:#495e57 ;
  color:#f4ce14;
  border: 2px solid  #f4ce14;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
  
}
.reservasion_container{
  display: flex;
  background-color:#f1f1f1;
}

.reservasion_form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: auto;
  
  margin:35px;
  padding: 10px;
  border:2px solid #45474b;
  background-color: #f5f7f8;
  background-size: cover;
  background-position: center;
}

.reservasion_img{
  flex: 1;
  max-width:500px;
  overflow: hidden;

}

.reservasion_img > img {
  
  width: 100%;
  margin:35px;
  height: auto;
  display: block;
}
@media (max-width: 600px) {
  .reservasion_img {
    display: none;
  }
}
.reservasion_form  div{
  margin-bottom:10px;
}



footer{
  display: flex;
  border-width: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#495e57;
  color:#f5f7f8;
}

footer div{
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

footer div a{
  color:#f5f7f8 ;
  font-style: none;
}


#footer_img img{
  padding: 5px;
  background-color:#f5f7f8;
}

#copyright {
  text-align: center;
  border-top: 6px solid #45474b;
  padding-top: 10px; /* Adjusted padding */
}

