*{
  margin:0;
  padding: 0;
}
body{
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7f8;
}


header {
  background-color: #f5f7f8;;
  padding: 20px;
  text-align: center;
}

header img {
  width: 170px; /* Adjust the width as needed */
  height: auto;
}

/* Start of navbar */
nav {
  padding: 20px;
  background-color: #495e57;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #f4ce14;
  font-size: 1.2rem;
}
@media screen and (max-width: 600px) {
  .row, .nav {   
    flex-direction: column;
  }
}


/* End of Navbar */



.banner-section {
  position: relative;
  height: 370px;

  background-image: url('./assets/banner_img.jpg'); /* Replace 'hero-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  
  text-align: center;
  display: flex;
  color: #f5f7f8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

.banner-section p {
  font-size: 1.3rem;
  margin-bottom: 10px;
  padding: 20px; /* Added padding */
  background-color: #45474b;
}
.banner-section button{
  padding: 10px;
  background-color:#45474b ;
  color:#f5f7f8;
  border: 2px solid #f5f7f8 ;
  border-radius: 3px;

}

 /* General styles for the columns */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.column {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
}

/* Media query for mobile views */
@media (max-width: 600px) {
  .column {
      flex: 100%;
  }
}




/*Start of about us article */

.aboutus_container{
  display: flex;
  
  background-color:#f1f1f1;
}

.aboutus_description{
  flex: 60%;
  align-items: center;
  justify-content: center;
  height: auto;
  
  margin:20px;
  padding: 20px;
  border:2px solid #45474b;
  background-color: #f5f7f8;
}

.aboutus_image{
  flex: 40%;
  margin:10px;
  padding: 10px;
  
  overflow: hidden;

}

/*.aboutus_image > img {
  
  width: fit-content;
  margin:35px;
  height: 600px;
  display: block;
}*/
/* Responsive layout - makes a one column-layout instead of a two-column layout */

@media screen and (max-width: 600px) {
   .aboutus_image {
    display: none;
  }
  
}


/* End of about us article */

.main_section {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 25px;
  padding: 20px;
  background-color: #f5f7f8;
}

#main_card {
  flex: 1;
  min-width: 250px;
 
  background-color: #495e57;
  color: #f5f7f8;
  padding: 35px;
  border-radius: 5px;
  text-align: center;
  
}
#main_card h2{
  text-align: center;
  padding-bottom: 15px;
}

#main_card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 15px;
}

#main_card p {
  margin-bottom: 15px;
  text-align: justify;
}

#main_card button {
  display: block;
  padding: 15px;
  background-color:#495e57 ;
  color:#f4ce14;
  border: 2px solid  #f4ce14;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
  
}

@media screen and (max-width: 600px) {
  #main_card {   
    flex: 100%;
  }
}


/*  Start of Reservation form   */

.reservasion_container{
  display: flex;
  background-color:#f1f1f1;
}

.reservasion_form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: auto;
  
  margin:35px;
  padding: 10px;
  border:2px solid #45474b;
  background-color: #f5f7f8;
  background-size: cover;
  background-position: center;
}

.reservasion_img{
  flex: 1;
  max-width:500px;
  overflow: hidden;

}

.reservasion_img > img {
  
  width: 100%;
  margin:35px;
  height: auto;
  display: block;
}
@media (max-width: 768px) {
  .reservasion_img {
    display: none;
  }
}
.reservasion_form  div{
  margin-bottom:10px;
}

/*  End of Reservation form   */




/*Menus */
.main-menu{
    
  display: flex;
  justify-content: center;
  padding: 20px;

}

.desserts{
  
  display: flex;
  justify-content: center;

}
.beverages{
  
  display: flex;
  justify-content: center;

}

/* Add rules for the steps mentioned below */
.menu-section {
  max-width: 400px;
  padding: 10px;
  background-color:#E0E0E2;
  margin-bottom: 20px;
}
.menuitem-label {  
font-weight: bold;
}
.menuitem-description {
  font-style: italic;
  border-top: 2px solid #495E57;
}
.menuitem-name {
  margin: 25px;
  font-size: 12px;
}

b {
  float: right;
  margin-top: -15px; /* Inside b */
  color: darkcyan; /* Inside b */
}
.menuitem-name > h3 {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  color: #495E57;
}
.menuitem-label + .low {
color: brown; 
}


/* Start of the footer */

footer{
  display: flex;
  border-width: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#495e57;
  color:#f5f7f8;
}

footer div{
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

footer div a{
  color:#f5f7f8 ;
  font-style: none;
}


#footer_img img{
  padding: 5px;
  background-color:#f5f7f8;
}

#copyright {
  text-align: center;
  border-top: 6px solid #45474b;
  padding-top: 10px; /* Adjusted padding */
}
@media (max-width: 600px) {
  footer div {
    flex: 100%;
  }
}


/* End of the footer */